<a href="https://colab.research.google.com/github/Darshini-A/Data-Mining-and-Business-Intelligence/blob/main/Prac%203%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = [["Jagroop","Male"],["Praveen","Male"],["Harjot","Female"],["Pooja","Female"],["Mohit","Male"]]

data_frame = pd.DataFrame(data,columns=["Name","Gender"])
print(data_frame)

      Name  Gender
0  Jagroop    Male
1  Praveen    Male
2   Harjot  Female
3    Pooja  Female
4    Mohit    Male

In [2]:
cattobin = pd.get_dummies(data_frame["Gender"])
print(cattobin)

   Female  Male
0       0     1
1       0     1
2       1     0
3       1     0
4       0     1

In [3]:
result = pd.concat((cattobin,data_frame),axis=1)
print(result)

   Female  Male     Name  Gender
0       0     1  Jagroop    Male
1       0     1  Praveen    Male
2       1     0   Harjot  Female
3       1     0    Pooja  Female
4       0     1    Mohit    Male

In [4]:
result = result.drop(["Male"],axis=1)
print(result)

   Female     Name  Gender
0       0  Jagroop    Male
1       0  Praveen    Male
2       1   Harjot  Female
3       1    Pooja  Female
4       0    Mohit    Male

In [5]:
result = result.drop(["Gender"],axis=1)
print(result)

   Female     Name
0       0  Jagroop
1       0  Praveen
2       1   Harjot
3       1    Pooja
4       0    Mohit

In [6]:
finalresult = result.rename({"Female":"Gender"})
print(finalresult)

   Female     Name
0       0  Jagroop
1       0  Praveen
2       1   Harjot
3       1    Pooja
4       0    Mohit